<!DOCTYPE html>

<head>
    <title>My flask app</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>







<form  method="POST" action="/date_from_now">
    <label>
      Enter your desired date:
      <input type="date" name="input_date" value={{ today_str }}>
    </label>
  
    <p><button>Submit</button></p>
  </form>

  <body>


    <br>
    
    <div>
    {% if name %}
            <p>There is {{ name }} day's from today to submitted date</p>
    {% endif %}
    </div>
    
    </body>


<br>

<a class="pure-button" href="/">Homepage</a>