<!DOCTYPE html>

<head>
  <title>My flask app</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/calendar.css" />
  <style>
      #calendar_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 10%;
}
#calendar_table td, #calendar_table th {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
}

  </style>
</head>
<p>Week number dates</p>

<form class="pure-form" , method="POST" , action='/holiday_planner'>
  <fieldset>
    <legend>Please choose country and enter how many vacation days you have</legend>
    <input type="text" placeholder="Days of vacation" name="input_vacation" />
    <select name="country" id="country_id" selected="{{ country }}">

      {% for country in countries_jinja %}
      <option value="{{ country }}"> {{ country }}</option>
      {% endfor %}
    </select>
    <select name="year" id="year_id">
      {% for year in years_jinja %}
      <option value="{{ year }}"> {{ year }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </fieldset>
</form>

{% if choosen_country_jinja %}
<p>Holidays in {{ choosen_country_jinja }} in {{ choosen_year_jinja }} </p>
{% endif %}



{% for month in generated_list_jinja if month   %}

<table id='calendar_table'>
  <thead>
    <tr>
      <th colspan="8">{{ month }}</th>
    </tr>
  </thead>
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th>Sun</th>
  </tr>

  {% for i in generated_list_jinja[month] %}
  <tr>
    <th class="week_number">{{ i[0][2]  }}</th>
    {% for date in i %}

    <th class={{ date[1] }}>{{ date[0].day }}</th>

    {% endfor %}
  </tr>
  {% endfor %}



</table>
<br>
{% endfor %}




{% for i in holiday_list_jinja if holiday_list_jinja %}
        <div> {{ i }} </div>
{% endfor %}





<br>

<a class="pure-button" href="/">Homepage</a>