{% extends "base.html" %}
{% block title %}My Date Calculator App{% endblock %}

{% block content %}




  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        
      <div class="col-6">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary" href="/days_from_now">Days From Now</a>
            <a type="button" class="btn btn-secondary" href="/week_dates">Week Dates</a>
            <a type="button" class="btn btn-secondary" href="/date_calculator">Date Calculator</a>
            <a type="button" class="btn btn-secondary" href="/holiday">Public Holidays Calendar</a>
          </div>
      </div>
      <div class="col">
       
      </div>
    </div>
 
  </div>


{% endblock %}

