{% extends "base.html" %}
{% block title %}My Date Calculator App{% endblock %}

{% block content %}

<p>Week number dates</p>

<form class="form-group", method="POST", action='/week_dates'>
    <fieldset>
        <legend>Please enter year and week number</legend>
        <input type="text" placeholder="Year" name="input_Year" />
        <input type="text" placeholder="Week" name="input_Week"/>
        
        <button type="submit" class="btn btn-secondary">Submit</button>
    </fieldset>
</form>


<div>
    {% if date_1 and date_1!='error' %}
            
            <p>The date range is between {{ date_1 }} and {{ date_2 }}</p>
    {% endif %}
</div>
<div>
    {% if date_1=='error' %}
            
            <p>Please enter correct week number</p>
    {% endif %}
</div>

<a class="btn btn-secondary" href="/" >Homepage</a>

{% endblock %}




  



